# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/

# Backend
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/.vs/
backend/**/publish/

# General
.DS_Store
*.log
Thumbs.db
